#star-1:checked ~ section [for=star-1] svg, #star-2:checked ~ section [for=star-1] svg, #star-2:checked ~ section [for=star-2] svg, #star-3:checked ~ section [for=star-1] svg, #star-3:checked ~ section [for=star-2] svg, #star-3:checked ~ section [for=star-3] svg, #star-4:checked ~ section [for=star-1] svg, #star-4:checked ~ section [for=star-2] svg, #star-4:checked ~ section [for=star-3] svg, #star-4:checked ~ section [for=star-4] svg, #star-5:checked ~ section [for=star-1] svg, #star-5:checked ~ section [for=star-2] svg, #star-5:checked ~ section [for=star-3] svg, #star-5:checked ~ section [for=star-4] svg, #star-5:checked ~ section [for=star-5] svg {
    transform: scale(1);
}

#star-1:checked ~ section [for=star-1] svg path, #star-2:checked ~ section [for=star-1] svg path, #star-2:checked ~ section [for=star-2] svg path, #star-3:checked ~ section [for=star-1] svg path, #star-3:checked ~ section [for=star-2] svg path, #star-3:checked ~ section [for=star-3] svg path, #star-4:checked ~ section [for=star-1] svg path, #star-4:checked ~ section [for=star-2] svg path, #star-4:checked ~ section [for=star-3] svg path, #star-4:checked ~ section [for=star-4] svg path, #star-5:checked ~ section [for=star-1] svg path, #star-5:checked ~ section [for=star-2] svg path, #star-5:checked ~ section [for=star-3] svg path, #star-5:checked ~ section [for=star-4] svg path, #star-5:checked ~ section [for=star-5] svg path {
    fill:  #4e7fad;
    stroke:  #3272ac;
}

.product-rating label {
    display: inline-block;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.product-rating label svg {
    width: 100%;
    height: auto;
    fill: white;
    stroke: #ccc;
    transform: scale(0.8);
    transition: transform 200ms ease-in-out;
}
.product-rating label svg path {
    transition: fill 200ms ease-in-out, stroke 100ms ease-in-out;
}

.product-rating label[for=star-null] {
    display: block;
    color: #999;
}

.product-rating input {
    margin-top: 1rem;
    display: none;
}
